.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    height: 100%;
    background-image: linear-gradient(
        270deg, rgba(176, 42, 42, .16) 0%,
        rgba(176, 42, 42, .56) 18.45%,
        rgba(176, 42, 42, .8) 49.67%,
        rgba(176, 42, 42, .56) 82.52%,
        rgba(176, 42, 42, .196364) 99.7%,
        rgba(189, 40, 40, 0) 99.71%,
        rgba(203, 56, 55, 0) 99.72%,
        rgba(203, 56, 55, .16) 99.73%
    ),
    url("coloured-rain.png");
}

.footer {
    padding: 10px;
    height: fit-content;
}

.author {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

.rust-icon {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.rust-icon-text {
    align-self: center;
    width: fit-content;
    opacity: 0;
}

a.rust-icon-group:hover ~ .rust-icon-text {
    opacity: 1;
}

.color-bar {
    padding: 5px;
    background-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff);
}