.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    height: 100%;
    background-image: url("coloured-rain.png");
}

.footer {
    padding: 10px;
    height: fit-content;
}

.author {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

.rust-icon {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.rust-icon-text {
    align-self: center;
    width: fit-content;
    opacity: 0;
}

a.rust-icon-group:hover ~ .rust-icon-text {
    opacity: 1;
}